<div class="btn-group btn-group-justified" ng-repeat="event in userGroup.events">
    <p>
        <a ng-href="#/event/{{event.url}}" class="btn btn-success" role="button">
            {{event.name}}
        </a>
    </p>
</div>
